body{
    margin: 0px;
    padding: 0px;
}


.app{
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: rgb(81, 21, 109);
}

.canvas{
    width: 80%;
    aspect-ratio: 4/3;
    background-color: black;
    border-radius: 16px;

    margin-top: 4rem;
}

.control-layout{
    /* background-color: blueviolet; */
    height: fit-content;
    /* height: 100px; */
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trigger{
    margin-top: 12px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trigger button{
    width: 40%;
    height: 40px;
    border-radius: 48px;
    border: none;
    
}

.pauseSelect{
    margin-block: 48px;
}

.pauseSelect button{
    border-radius: 50%;
    border: none;
    width: 40px;
    aspect-ratio: 1/1;
}

.controller{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.controller button{
    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: none;
}

.controller .dpad{
    /* background-color: aquamarine; */
    width: 40%;
}

.controller .dpad .horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 3rem; */
}

.vertical{
    margin-left: 37px;
}

.menu{
    bottom: 3rem;
    position: fixed;

    border: none;

}

button{
    padding: 4px;
    border: none;
    box-shadow: 4px 4px 12px rgb(27, 8, 59);

    border-radius: 48px;
}
